In [127]:
import pandas as pd
import numpy as np

In [128]:
# Import cleaned data
df=pd.read_csv('output/0. cleaned_data/df_task2.csv')

In [129]:
df=df.drop(['description_sector','Quarter'],axis=1)

In [130]:
df=pd.get_dummies(df)

In [131]:
df = df.astype(float)

In [132]:
X_cols=df[['code_sector']].columns		
Y_cols=df.drop(['code_sector'],axis=1).columns

In [119]:
# Split dataset into train-test

,Country,Net profit/total assets,Total liabilities/total assets,Working capital/total assets,Current assets/short-term liabilities,Retained earnings/total assets,Gross profit/total assets,Book value of equity/total liabilities,Net sales revenue/total assets,Equity/total assets,...,MI_Total sales revenue (n)/total sales revenues (n−1),MI_Total assets (n)/total assets (n−1),MI_Current assets (n)/current assets (n−1),MI_EBIT (n)/EBIT (n−1),MI_Net profit (n)/net profit (n−1),MI_Inventory (n)/inventory (n−1),MI_Receivables (n)/receivables (n−1),MI_short-term liabilities (n)/short-term liabilities (n−1),MI_Net cash flow from (used in) operating activities (n)/Net cash flow from (used in) operating activities (n−1),MI_Net cash flow(n)/net cash flow (n−1)
0,Poland,0.00,0.49,0.06,1.31,0.06,0.01,1.06,0.18,0.51,...,0,0,0,0,0,0,0,0,1,0
1,Hungary,0.01,0.78,-0.04,0.90,0.00,0.01,0.27,0.27,0.22,...,0,0,0,0,0,0,0,0,1,1
2,Poland,-0.02,0.44,0.18,1.52,0.28,-0.01,1.29,0.21,0.56,...,0,0,0,0,0,0,0,0,1,0
3,Poland,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
4,Poland,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5782,Poland,-0.01,0.10,0.72,9.44,-0.11,-0.01,8.85,0.05,0.91,...,0,0,0,0,0,0,0,0,0,0
5783,Poland,-0.01,1.71,-0.43,0.19,-1.46,-0.01,-0.41,0.00,-0.71,...,0,0,0,0,0,0,0,0,1,1
5784,Poland,-0.03,0.59,-0.05,0.76,-0.11,-0.03,0.70,0.04,0.41,...,0,0,0,0,0,0,0,0,0,0
5785,Poland,-0.15,29.05,-27.13,0.07,-36.58,-0.21,-0.96,0.00,-27.94,...,1,1,1,1,1,1,1,1,1,1
5786,Poland,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Assuming df is your DataFrame with features and target
# Drop any non-numeric columns and NaNs
df_numeric = df.dropna().select_dtypes(include=['number'])

# Define features (X) and target (y)
X = df_numeric.drop(columns=['sector'])
y = df_numeric['sector']

# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the Random Forest Classifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

# Predict on the test set
y_pred = clf.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

# Classification report
print(classification_report(y_test, y_pred))

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import accuracy_score, classification_report

# Assuming df is your DataFrame with features and target
# Drop any non-numeric columns and NaNs
df_numeric = df.dropna().select_dtypes(include=['number'])

# Define features (X) and target (y)
X = df_numeric.drop(columns=['sector'])
y = df_numeric['sector']

# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the XGBoost Classifier
clf = xgb.XGBClassifier(objective='multi:softmax', num_class=6, random_state=42)
clf.fit(X_train, y_train)

# Predict on the test set
y_pred = clf.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

# Classification report
print(classification_report(y_test, y_pred))

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
import lightgbm as lgb
from sklearn.metrics import accuracy_score, classification_report

# Assuming df is your DataFrame with features and target
# Drop any non-numeric columns and NaNs
df_numeric = df.dropna().select_dtypes(include=['number'])

# Define features (X) and target (y)
X = df_numeric.drop(columns=['sector'])
y = df_numeric['sector']

# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the LightGBM Classifier
clf = lgb.LGBMClassifier(num_class=6, random_state=42)
clf.fit(X_train, y_train)

# Predict on the test set
y_pred = clf.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

# Classification report
print(classification_report(y_test, y_pred))

In [92]:
df['Country'].isna().any()

False