In [1]:
import pandas as pd

In [3]:
# Import cleaned data
df=pd.read_csv('output/final_df.csv')

In [5]:
df

,Country,Net profit/total assets,Total liabilities/total assets,Working capital/total assets,Current assets/short-term liabilities,Retained earnings/total assets,Gross profit/total assets,Book value of equity/total liabilities,Net sales revenue/total assets,Equity/total assets,...,EBIT (n)/EBIT (n−1),Net profit (n)/net profit (n−1),Inventory (n)/inventory (n−1),Receivables (n)/receivables (n−1),short-term liabilities (n)/short-term liabilities (n−1),Net cash flow from (used in) operating activities (n)/Net cash flow from (used in) operating activities (n−1),Net cash flow(n)/net cash flow (n−1),Year,Quarter,sector
0,Hungary,m,m,m,m,m,m,m,m,m,...,m,m,m,m,m,m,m,2017,Q2,Transportation and warehousing
1,Poland,0,0.49,0.06,1.31,0.06,0.01,1.06,0.18,0.51,...,13.7,-14.88,1.11,1.12,1.04,m,0.59,2017,Q2,Transportation and warehousing
2,Hungary,0.01,0.78,-0.04,0.9,0,0.01,0.27,0.27,0.22,...,1.45,0.92,1.14,1.08,1.18,m,m,2017,Q2,Transportation and warehousing
3,Poland,-0.02,0.44,0.18,1.52,0.28,-0.01,1.29,0.21,0.56,...,0.74,0.89,1.6,0.6,0.48,m,0.73,2017,Q2,Transportation and warehousing
4,Poland,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2017,Q2,Transportation and warehousing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7231,Slovakia,m,m,m,m,m,m,m,m,m,...,m,m,m,0,0,m,m,2021,Q1,Construction
7232,Poland,-0.15,29.05,-27.13,0.07,-36.58,-0.21,-0.96,0,-27.94,...,m,m,m,m,m,m,m,2021,Q1,Construction
7233,Slovakia,m,m,m,m,m,m,m,m,m,...,m,m,m,0,0,m,m,2021,Q1,Construction
7234,Poland,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2021,Q1,Construction
7235,Slovakia,m,m,m,m,m,m,m,m,m,...,m,m,m,m,m,m,m,2021,Q1,Construction